.List {
    display: flex;
}

.List .title {
    width: 40%;
}

.List .author {
    width: 30%;
}

.List .comments {
    width: 10%;
}

.List .points {
    width: 10%;
}

.List .actions {
    width: 10%;
}

